/* Headings font style */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Body font style */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.heading-bold-lg {
  font-family: "Josefin Sans", sans-serif;
}
.heading-bold-md {
  font-family: "Josefin Sans", sans-serif;
}
.heading-bold-sm {
  font-family: "Josefin Sans", sans-serif;
}

.heading-regular-lg {
  font-family: "Josefin Sans", sans-serif;
}
.heading-regular-md {
  font-family: "Josefin Sans", sans-serif;
}
.heading-regular-sm {
  font-family: "Josefin Sans", sans-serif;
}

.heading-light-lg {
  font-family: "Josefin Sans", sans-serif;
}
.heading-light-md {
  font-family: "Josefin Sans", sans-serif;
}
.heading-light-sm {
  font-family: "Josefin Sans", sans-serif;
}

.body-bold-lg {
  font-family: "Crimson Pro", serif;
}

.body-bold-lg {
  font-family: "Crimson Pro", serif;
}
.body-bold-md {
  font-family: "Crimson Pro", serif;
}
.body-bold-sm {
  font-family: "Crimson Pro", serif;
}

.body-regular-lg {
  font-family: "Crimson Pro", serif;
}
.body-regular-md {
  font-family: "Crimson Pro", serif;
}
.body-regular-sm {
  font-family: "Crimson Pro", serif;
}

.body-light-lg {
  font-family: "Crimson Pro", serif;
}
.body-light-md {
  font-family: "Crimson Pro", serif;
}
.body-light-sm {
  font-family: "Crimson Pro", serif;
}
