.landing-container {
  display: flex;
  margin: 0;
  flex-direction: row;
  position: static;
}

.side-glass-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 110vw;
  height: 75vh;
  left: 0;
  top: 0;
  margin: 0;
  /* box-shadow: 0 6px 20px 0 rgba(61, 59, 59, 0.856); */
  background-color: #0000006c;
  z-index: 3;
  border-radius: 0 10px 10px 0;
}

.landing-info-container {
  margin: auto 0;
  width: 100%;
  justify-content: end;

  flex-direction: column;
}

.landing-info-heading {
  font-size: 32px;
  padding: 0 20px;
  margin: 0;
  text-align: center;
  color: #fe5f00;
  font-weight: 700;
}

.landing-info-subheading {
  font-size: 18px;
  text-align: center;
  padding: 0 20px;
  margin: auto;
  width: 50%;
  color: #fffcf2;
  font-weight: 600;
}

.background-video {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
  left: 0;
}

/* video {
  width: 100vw;
  height: 100vh;
} */

.intext-anchor {
  text-decoration: none;
  color: #fe5f00;
  font-weight: 800;
}
