.landing-container {
  display: flex;
  flex-direction: row;
}

.side-glass-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: fixed;
  width: 33.3%;
  left: 0;
  top: 0;
  background-color: #a8ccd7;
  z-index: 3;
}

.landing-info-container {
  margin: auto 0;
}

.landing-info-heading {
  font-size: 32px;
  text-align: end;
  color: #324376;
  font-weight: 700;
}

.landing-info-subheading {
  font-size: 18px;
  text-align: end;
  color: #586ba4;
  font-weight: 600;
}

.background-video {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: fixed;
  top: 0;
}
