.landing-container {
  display: flex;
  margin: 0;
  flex-direction: row;
}

.side-glass-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: fixed;
  width: 33.3%;
  height: 100vh;
  left: 0;
  top: 0;
  /* box-shadow: 0 6px 20px 0 #cacfd6; */
  background-color: #0000006c;
  z-index: 3;
  border-radius: 0 10px 10px 0;
}

.landing-info-container {
  margin: auto 0;
  width: 100%;
  justify-content: end;

  flex-direction: column;
}

.landing-info-heading {
  font-size: 32px;
  padding: 0 20px;
  margin: 0;
  text-align: end;
  color: #d6e5e3;
  font-weight: 700;
}

.landing-info-subheading {
  font-size: 18px;
  text-align: end;
  padding: 0 20px;
  float: right;
  width: 75%;
  color: #cacfd6;
  font-weight: 600;
}

.background-video {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.intext-anchor {
  text-decoration: none;
  color: #586ba4;
  font-weight: 800;
}
